@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* Resettings */
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100vw;
	height: 100%;
}

/* Colors */
:root {
	/* Primary */
	--very-dark-desaturated-blue: hsl(238, 29%, 16%);			/* Text */
	--soft-red: hsl(14, 88%, 65%);								/* Text */
	--soft-violet: hsl(273, 75%, 66%);							/* Gradient */
	--soft-blue: hsl(240, 73%, 65%);							/* Gradient */
	/* Neutral */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);				/* Text */
	--dark-grayish-blue: hsl(240, 6%, 50%);						/* Text */
	--light-grayish-blue: hsl(240, 5%, 91%);					/* Dividers */
}

/* General settings */
body {
	background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans';
	font-size: 1vw;
}

.card {
	display: flex;
	background-color: white;
	border-radius: 20px;
	width: 65%;
	height: 70%;
	box-shadow: 0 30px 70px -40px var(--very-dark-desaturated-blue);
	color: var(--very-dark-grayish-blue);
}

.image-container {
	background-image:
		url("images/illustration-woman-online-desktop.svg"),
		url("images/bg-pattern-desktop.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: -5.2vw 50%, -41.5vw 60%;
	background-size: 32vw, 210%;
	width: 100%;
	overflow: visible;
	position: relative;
}

.image-container .image-overflow {
	position: absolute;
	background-image: url("images/illustration-box-desktop.svg");
	background-position: 40% 65%;
	background-repeat: no-repeat;
	background-size: 12vw !important;
	width: 30%;
	left: -5vw;
	height: 100%;
	z-index: 2;
	background-size: 100%;
}

.card-info {
	display: flex;
	flex-direction: column;
	width: 100%
}

.card-title {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 20%;
	font-size: 2vw;
	color: var(--very-dark-desaturated-blue);
}

.qa-container {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
	width: 75%;
	margin-top: 5%;
}

.qa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 0.2vh solid var(--light-grayish-blue);
	transition: 0.2s;
	padding: 5%;
}

.qa:hover {
	cursor: pointer;
	color: var(--soft-red);
}

.qa-question {
	background-image: url("images/icon-arrow-down.svg");
	background-repeat: no-repeat;
	background-position: right;
}

.qa-answer {
	margin: 3% 0;
}

/* Portrait view */
@media screen and (orientation: portrait) {
	.card {
		width: 90%;
		flex-direction: column;
		position: relative;
	}

	.image-container {
		width: 100%;
		height: 100%;
		position: absolute;
		top: -40%;
		background-image:
			url("images/illustration-woman-online-mobile.svg"),
			url("images/bg-pattern-mobile.svg");
		background-position: top, center;
		background-size: 70% 70%, 70%;
	}

	.image-overflow {
		display: none;
	}

	.card-info {
		padding-top: 20%;
		height: 80%;
		align-items: center;
	}

	.card-title {
		font-size: 5vw;
		display: flex;
		justify-content: center;
	}

	.qa-container {
		font-size: 3.5vw;
		width: 90%;
	}
}
